* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}
body,
html {
    width: 100%;
    height: 100%;

    /* 스크롤 숨기기 */
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    /* Chrome, Safari, Opera */
    display: none;
}
/* 기본 설정 */

/* 헤더 설정 */
.header {
    font-size: 20px;
    padding: 15px 0;
    background: rgb(0, 51, 255);
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: -1px;
}

.chat_wrap .chat {
    padding-bottom: 80px;
}
ul {
    width: 100%;
    list-style: none;
}
ul li {
    width: 100%;
}
ul li.left {
    text-align: left;
}
ul li.right {
    text-align: right;
}

ul li > div {
    font-size: 13px;
}
ul li > div.sender {
    margin: 10px 20px 0 20px;
    font-weight: bold;
}
ul li > div.message {
    display: inline-block;
    word-break: break-all;
    margin: 5px 20px;
    max-width: 75%;
    border: 1px solid #888;
    padding: 10px;
    border-radius: 5px;
    background-color: #fcfcfc;
    color: #555;
    text-align: left;
}

.chat_wrap .input-div {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
}
.chat_wrap .input-div > input {
    width: 60%;
    height: 80px;
    /* border: none; */
    padding: 10px;
    left: -20%;
}

.format {
    display: none;
}
