* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}
body,
html {
    width: 100%;
    height: 100%;
}
/* 위는 기본 설정 */
/*  */
p {
    font-size: 40px;
    display: inline;
}
img {
    top: 1vh;
    left: 2vw;
    /* 로고 크기 설정 */
    width: 70px;
    /* object-fit: cover; */
}
#logoBox > * {
    min-height: 80px;
    left: 1vw;
}

header #logoBox {
    height: auto;
    left: 10vw;
    /* border: 10px solid black; */
}

/* 헤더 정렬 설정 */
header > div,
header > p {
    display: inline;
}

/* 프로필 박스 설정 */
#profileBox {
    font-size: 30px;
    margin-top: 3vh;
    float: right;
    right: 15vw;
    background-color: rgb(97, 97, 97);
    padding: 5px;
    /* justify-content: center; */
    justify-items: center;
    vertical-align: center;
}
/*  */
/* 로그인시 프로필박스에 보이게 될 것 */
#profileBox img {
    /* 프로필 사진 설정 */
    width: 75px;
    top: 3px;
    left: 3px;
}
#profileBox > div {
    /* 메일함 wrap 설정 */
    float: right;
    display: "inline";
    width: "fit-contents";
}
#profileBox > div > img {
    /* 메일함 설정 */
    width: 80px;
    top: 1px;
    left: 0;
}
#profileBox > div > input {
    /* 메일함 체크박스 설정 */
    float: right;
    left: -20px;
    top: 10px;
    display: hidden;
}
#profileBox p {
    /* 닉네임 설정 */
    /* 화면 줄어들면 칸을 넘은 글자는 안보이게 만들기 */
    width: 10%;
    top: -20px;
    left: 10px;
}

/* 밑 2개 순서 변경 시 visited 적용 안됨 */
a:visited {
    text-decoration: none;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
/*  */
/* 네비 설정 */
#nav {
    border: 2px solid black;
    width: 11%;
    height: fit-content;
    margin-left: 27vh;
    margin-top: 120px;
    position: fixed;
    text-align: center;
    background-color: rgb(130, 130, 130);
}
#nav a {
    margin-top: 1vh; /* 앵커 간격 */
    /* color: rgb(55, 191, 237); 네비 글꼴 색 */
    display: block;
}
#nav > a > img {
    width: 30%;
    top: -0.5vh;
    position: relative;
}
#nav > a > p {
    width: 100%;
    left: -0.3vw;
    /* top: 1vh; */
    position: absolute;
    font-size: 1.5vw;
}
#nav > a:first-child {
    top: 1vh;
}
#last {
    /* 말풍선이 너무 커서 위에 걸리니 별도로 마진 부여 */
    margin-top: 1vh;
}
#lastp {
    /* 말풍선이 너무 커서 위에 걸리니 별도로 마진 부여 */
    margin-top: 5%;
}

/* 매칭 상태 표시 구역 */
#matching {
    border: 2px solid black;
    width: 11%;
    height: 30%;
    left: 27vh;
    top: 50vh;
    position: fixed;
    text-align: center;
    background-color: rgb(130, 130, 130);
    /* 화면이 상하로 작아지면 공간이 안되니 */
    /* 작아지면 없애버리기? */
}

/* 헤더 설정 */
header {
    width: 100%;
    min-height: 100px;
    position: fixed;
    background-color: rgb(55, 191, 237);
    z-index: 1;
}

/* 불러올 html 설정 */
#bodys {
    padding-top: 120px;
    width: 60vw;
    /* float: left; */
    left: 25%;
    height: 100%;
}
iframe {
    border: 2px solid black;
    width: 99%;
    height: 99%;
}
