* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    position: relative;
}

body,
html {
    width: 100%;
    height: 100%;
}
/* 위는 기본 설정 */

/* 로고 설정 */
p {
    /* 로고 글자 설정 */
    font-size: 40px;
    display: inline;
}
img {
    top: 1vh;
    left: 2vw;
    /* 로고 크기 설정 */
    width: 80px;
    /* object-fit: cover; */
}
#logoBox > * {
    min-height: 80px;
    left: 1vw;
}
/* 로고 박스 누르면 홈 가게 할려는데 왜 높이 조절이 안뫼;ㅇㄴ로미 ㄴ오롬냉ㄹ[머ㅠㅔㄴㅇㄹ */
header #logoBox {
    height: auto;
    /* border: 10px solid black; */
}

/* 헤더 정렬 설정 */
header > div,
header > p {
    display: inline;
}

/* 프로필 박스 설정 */
#profileBox {
    font-size: 30px;
    margin-top: 3vh;
    float: right;
    right: 1vw;
    background-color: rgb(97, 97, 97);
    padding: 5px;
}

/* 밑 2개 순서 변경 시 visited 적용 안됨 */
a:visited {
    text-decoration: none;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}

iframe {
    float: right;
    width: 100%;
    height: 100%;
}

/* 네비 설정 */
#nav {
    border: 2px solid black;
    min-width: 10vw;
    margin: 1vh;
    margin-top: 17vh;
    position: fixed;
    text-align: center;
    background-color: rgb(130, 130, 130);
}
#nav a {
    margin: 2vh;
    font-size: 3vh;
    display: block;
}

/* 헤더 설정 */
header {
    width: 100%;
    min-height: 100px;
    position: fixed;
    background-color: rgb(55, 191, 237);
    z-index: 1;
}

/* 불러올 html 설정 */
#bodys {
    padding-top: 17vh;
    width: 88vw;
    /* left: 13vw; */
    float: right;
    height: 100%;
}

/* 작업용, 큰 영역 구분 설정 */
#bodyWrap,
header,
footer {
    border: 1px solid red;
}

/* 작업용, 작은 영역 구분 설정 */
#logoBox,
#profileBox,
nav,
#bodys {
    border: 1px solid green;
}
